<h1>Editing learn favorite</h1>

<%= render "form", learn_favorite: @learn_favorite %>

<br>

<div>
  <%= link_to "Show this learn favorite", @learn_favorite %> |
  <%= link_to "Back to learn favorites", learn_favorites_path %>
</div>
