<div id="<%= dom_id learn_image %>">
  <p>
    <strong>Learn:</strong>
    <%= learn_image.learn_id %>
  </p>

  <p>
    <strong>Learn image:</strong>
    <%= learn_image.learn_image %>
  </p>

</div>
