<h1>Editing learn image</h1>

<%= render "form", learn_image: @learn_image %>

<br>

<div>
  <%= link_to "Show this learn image", @learn_image %> |
  <%= link_to "Back to learn images", learn_images_path %>
</div>
