<div id="<%= dom_id disscuss_comment %>">
  <p>
    <strong>Discuss:</strong>
    <%= disscuss_comment.discuss_id %>
  </p>

  <p>
    <strong>Discuss comment:</strong>
    <%= disscuss_comment.discuss_comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= disscuss_comment.user_id %>
  </p>

</div>
