<h1>Editing disscuss comment</h1>

<%= render "form", disscuss_comment: @disscuss_comment %>

<br>

<div>
  <%= link_to "Show this disscuss comment", @disscuss_comment %> |
  <%= link_to "Back to disscuss comments", disscuss_comments_path %>
</div>
