<div id="<%= dom_id learn_comment %>">
  <p>
    <strong>Learn:</strong>
    <%= learn_comment.learn_id %>
  </p>

  <p>
    <strong>Learn comment:</strong>
    <%= learn_comment.learn_comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= learn_comment.user_id %>
  </p>

</div>
