<div id="<%= dom_id post_like %>">
  <p>
    <strong>Post:</strong>
    <%= post_like.post_id %>
  </p>

  <p>
    <strong>Post like:</strong>
    <%= post_like.post_like %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post_like.user_id %>
  </p>

</div>
