<p style="color: green"><%= notice %></p>

<h1>Post images</h1>

<div id="post_images">
  <% @post_images.each do |post_image| %>
    <%= render post_image %>
    <p>
      <%= link_to "Show this post image", post_image %>
    </p>
  <% end %>
</div>

<%= link_to "New post image", new_post_image_path %>
